.DS_Store
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
build/Release
node_modules
res
examples
example
babel.config.js
metro.config.js
src/
data/
App.tsx
tsconfig.json
tslint.json
.editorconfig
app.json
CODE_OF_CONDUCT.md
typings.d.ts
__tests__/
.expo/
.github/
.vscode/
.prettierrc
npm-debug.log
tmp
gif